spring:
  application:
    name: Identity-Service

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/auth_db}
    username: ${DB_USERNAME:auth_db}
    password: ${DB_PASSWORD:admin@123}
    driver-class-name: org.postgresql.Driver

  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}

  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    consumer:
      group-id: identity-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

server:
  port: 8087


jwt:
  secret: da3ef6670aeccc55e3f1bb6283d32ace03eab4d20c251e9a8a0a8fc4e1c4c1aa
  expiration: 8640000

eureka:
  client:
    service-url:
      defaultZone: http://172.17.240.1:8761/eureka

  instance:
    prefer-ip-address: true

management:
  tracing:
    sampling:
      probability: 1.0   # 100% traces (dev only)

frontend:
  redirect:
    url: http://localhost:8080/home.html
  level: "%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]"


