spring:

  cache:
    type: redis

    data:
      redis:
        host: localhost
        port: 6379
        timeout: 60000

  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    consumer:
      group-id: identity-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

eureka:
  client:
    service-url:
      defaultZone: http://172.17.240.1:8761/eureka

  instance:
    prefer-ip-address: true

frontend:
  redirect:
    url: http://localhost:8080/home.html
  level: "%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]"




management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    prometheus:
      enabled: true
  metrics:
    export:
      prometheus:
        enabled: true
  tracing:
    sampling:
      probability: 1.0

logging:
  file:
    name: log/${spring.application.name}.log
