apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: foodflow
spec:
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      containers:
      - name: kafka
        image: confluentinc/cp-kafka:7.6.0
        ports:
          - containerPort: 9092
          - containerPort: 9093
        envFrom:
          - configMapRef:
              name: kafka-config
