spring:
  application:
    name: discovery-server

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

server:
  port: 8761

logging:
  file:
    name: log/${spring.application.name}.log