apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: foodflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: kamleshyadav875/api-gateway:latest
        ports:
          - containerPort: 8080
        resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
        env:
          - name: SPRING_PROFILES_ACTIVE
            value: dev
          - name: JWT_SECRET
            valueFrom:
              secretKeyRef:
                name: api-gateway-secret
                key: jwt-secret
