spring:
  application:
    name: media-service

server:
  port: 8084

app:
  storage:
    location: ${STORAGE_LOCATION:uploads}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

  instance:
    prefer-ip-address: true