spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive


jwt:
  secret: ${JWT_SECRET}
  expiration: 864000

server:
  port: 8081

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: WARN
  pattern:
    level: "%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]"

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
    export:
      prometheus:
        enabled: true
  tracing:
    sampling:
      probability: 1.0
