apiVersion: apps/v1
kind: Deployment
metadata:
  name: media-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: media-service
  template:
    metadata:
      labels:
        app: media-service
    spec:
      containers:
      - name: media-service
        image: kamleshyadav875/media-service:latest
        ports:
          - containerPort: 8084
        env:
          - name: SPRING_PROFILES_ACTIVE
            value: local